/* Float 레이아웃 */
/* float: left */
/* float으로 인해 발생한 레이아웃 이슈를 Overflow 속성으로 해결 */
.wrapper {
  border: 5px solid red;
  overflow: hidden;

  /* &::after {
    content: '';
    display: block;
    clear: both;
  } */

  img {
    border: 2px solid blue;
    float: left;
  }

  .like {
    border: 2px solid green;
  }
}

/* float: right */
.container {
  border: 5px solid green;
  display: flow-root;

  img {
    border: 2px solid blue;
    float: right;
  }

  .lion {
    border: 2px solid red;
  }
}
