/* Flex 레이아웃 */
div {
  background: var(--yellow);

  > div:nth-child(1) {
    background: var(--pink);
  }
  > div:nth-child(2) {
    background: var(--green);
  }
  > div:nth-child(3) {
    background: var(--blue);
  }
  > div:nth-child(4) {
    background: var(--orange);
  }
}

/* Flex - flex-direction */
.like {
  padding: 0.5em;
  display: flex;
  flex-direction: row;

  div:nth-child(even) {
    order: 1;
  }
}

/* flex-wrap, flex-flow */
.lion {
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row-reverse; */
  flex-flow: wrap row-reverse;
  padding: 0.5em;
  inline-size: 600px;

  > div {
    inline-size: 150px;
  }
}

.euid {
  block-size: 200px;
  padding: 0.5em;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-evenly;
  align-items: stretch;
}

.frontend {
  display: flex;
  inline-size: 400px;
  block-size: 200px;
  /* flex-flow: wrap row; */
  /* start, stretch : justify-content와 align-items의 기본값 */
  /* justify-content: space-between; */
  /* align-items: stretch; */
  /* align-content: space-evenly; */

  /* > div {
    inline-size: 200px;
  } */
}

.bootcamp {
  inline-size: 400px;
  display: flex;
  flex-flow: wrap row;
  /* padding: 1em; */
  column-gap: 40px;
  block-size: 200px;
  justify-content: start;
  align-items: stretch;

  > div {
    inline-size: 180px;
  }

  .bootcamp-item1 {
    align-self: start;
  }
}

/* flex, flex-grow, flex-shrink, flex-basis */
.school {
  display: flex;
  flex-flow: nowrap row;
  inline-size: 50%;

  > div {
    /* flex-basis: 0; */
    /* inline-size: 200px; */
    /* flex: 0 1 auto; grow/ shrink/ base 기본값 */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
    flex: 1 1 0;
  }

  /* .school-item1 {
    flex-grow: 1;
  }
  .school-item2 {
    flex-grow: 2;
  }
  .school-item3 {
    flex-grow: 3;
  }
  .school-item4 {
    flex-grow: 4;
  } */
}
