/* 아바타 컴포넌트 */
.avatar {
  --avatar-size: 64px;
  --state-size: 16px;
  --disable-color: #dbdbdb;
  --active-color: #4bfe88;
  --border-color: #fff;

  width: var(--avatar-size);
  height: var(--avatar-size);
  /* background: #ffc; */
  position: relative;
  border: 0;
  padding: 0;
  background: transparent;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .avatar-state {
    width: calc(var(--state-size) / var(--avatar-size) * 100%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--disable-color);
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid var(--border-color);
    /* box-shadow: 0px 0px 0px 2px red; */

    &.is-online {
      background: var(--active-color);
    }
  }
}

.avatar-list {
  /* background: #ffc; */
  width: 596px;
  height: 396px;
  box-shadow: 0 0 4px 1px currentColor;
  padding: 110px 130px;

  .avatar-item {
    width: 64px;
    height: 64px;
    box-shadow: 0 0 0px 1px currentColor;
    float: left;
    margin: 10px;

    &:nth-child(5) {
      background: yellow;
      clear: left;
    }
  }
}
