/* 접근성 관련 CSS */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  margin: -1px;
  padding: 0;
  border-width: 0;
  clip-path: polygon(0 0, 0 0, 0 0);
}
