/* 기본 스타일 */
/* CSS 예제 본문 스타일 */
/* 여백 */
.spacing-20 {
  margin: 20px;

  h1 {
    margin-block: 20px;
  }
}

/* 링크 태그 스타일링 */
a {
  text-decoration: none;
  color: inherit;
  /* display: block; */
}

/* 컴포넌트 영역 스타일링 */
/* UI component */
.ui-component {
  border: 1px solid currentColor;
  margin-block: 10px;
  padding: 10px;
}

/* copy component */
.copy-component {
  display: flex;
  background: black;
  color: white;
  margin-block-start: 0.5em;
  padding: 0.5em 1em;
  border-radius: 4px;
}

body {
  font-family: 'SUIT Variable', sans-serif;
}
