/* 테이블 스타일링 */
.members-wrapper {
  background: var(--yellow);
  border: 1px solid var(--black);
  block-size: 500px;
  overflow: auto;
}

.members {
  inline-size: 100%;
  /* border-spacing: 0;
  border-collapse: collapse; */

  .number {
    inline-size: 15%;
  }
  .name {
    inline-size: 25%;
  }
  .email {
    inline-size: 30%;
  }
  .phone {
    inline-size: 30%;
  }

  thead tr,
  tfoot tr {
    background: var(--black);
    color: var(--white);
  }

  thead tr {
    position: sticky;
    top: 0;
  }

  tr:nth-child(even) {
    background: var(--gray);
  }

  th,
  td {
    font-size: 14px;
    padding: 0.5em 1em;
    text-align: center;
  }
}
